body {
    overflow: hidden;
    background: #f0f0f0;
}

html {
    overflow-y: scroll;
}

#ui {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
}

/*
#simulator {
    position: absolute;
    top: 0px;
    left: 1024px;
    width: 1024px;
    height: 1024px;
    z-index: 5;
}
*/

#blue_wave {
    position: absolute;
    top: 0px;
    left: 420px;
    width: 1080px;
    height: 1080px;
    z-index: 3;
}

#white_wave {
    position: absolute;
    top: 0px;
    left: 420px;
    width: 1080px;
    height: 1080px;
    z-index: 4;
}


#wallformat {
    position: absolute;
    top: 1080px;
    left: 0px;
    width: 1080px;
    height: 450px;
    z-index: 5;  
}

#frame1{
    position:absolute;
    background: #0000f0;
    top:0px;
    left:0px;
    width:1920px;
    height:1080px;
    z-index: 2;
}
#frame2{
    position:absolute;
    background: #808080;/*高さが表示されていないときは中間の高さになるようグレーにしている*/
    top:1080px;
    left:0px;
    width:1920px;
    height:1080px;
    z-index: 1;

}