body {
    overflow: hidden;
    background: gray;
}

html {
    overflow-y: scroll;
}

#ui {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#simulator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#simulator2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
