body {
    overflow: hidden;
    background: #f0f0f0;
}

html {
    overflow-y: scroll;
}

#ui {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#simulator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#wallformat {
    position: absolute;
    top: 1080px;
    left: 0;
    z-index: 1;
}

#white_wave {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}